search-cancel-button {
  appearance: none;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  //margin: 10px;
  .label {
    text-align: left;
    margin-left: 8px;
    margin-bottom: 8px;
    color: #484848;
  }
}

.form_input {
  border-radius: 8px;
  background-color: #eeeeee;
  border: none;
  width: 328px;
  height: 56px;
  color: #9b9b9b;
  font-size: 16px;
  padding: 16px;
  margin: 1px;
  color: black;
  border: 2px solid #dddddd;

  &:hover:enabled {
    background-color: #f5f5f5;
    border: 2px solid #dddddd;
  }
  &-focus {
    border: 2px solid;
    outline-color: #ff6000;
  }
  &-error:not([hover]) {
    border: 2px solid #fa3f3f;
    background-color: #fef2f2;
    pointer-events:none;
    &::placeholder {
      color: #fa3f3f;
    }
  }
  &-filled {
    background-color: #ffffff;
    border: 2px solid #dddddd;
  }
  &-disabled_input {
    background-color: #f5f5f5;
    color: #cccccc;
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button {
    @extend search-cancel-button;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
  }
  //focus bg color

  &.large {
    height: 56px;
    font-size: 16px;
    &.icon_with_placeholder {
      padding-left: 43.8px;
    }
    &::-webkit-search-cancel-button {
      height: 25px;
      width: 25px;
      background-size: 25px 25px;
    }
  }
  &.default {
    height: 48px;
    font-size: 14px;
    &.icon_with_placeholder {
      padding-left: 45px;
    }
    &::-webkit-search-cancel-button {
      @extend search-cancel-button;
      height: 20px;
      width: 20px;
      background-size: 20px 20px;
    }
  }
  &.small {
    height: 40px;
    font-size: 14px;
    &.icon_with_placeholder {
      padding-left: 40px;
    }
    &::-webkit-search-cancel-button {
      @extend search-cancel-button;
      height: 15px;
      width: 15px;
      background-size: 15px 15px;
    }
  }
}

.icon {
  position: absolute;
  display: flex;
  &-error {
    path {
      fill: #fa3f3f;
    }
  }
  &.large {
    width: 50px;
    padding: 11px;
    margin-top: 4.6px;
  }
  &.default {
    width: 45px;
    padding: 10px;
    margin-top: 2.6px;
  }
  &.small {
    width: 30px;
    padding-left: 9px;
    padding-top: 10px;
  }
}

.phone_input {
  padding-left: 55px;
  padding-right: 10px;
  color: #484848;
  font-weight: 500;
  &.phone_code {
    padding-left: 106px !important;
  }
}

.country_code {
  position: absolute;
  left: 10px;
  &.large {
    bottom: 17px;
  }
  &.default {
    bottom: 16px;
  }
  &.small {
    bottom: 15px;
  }
}

.country_code_tr {
  position: absolute;
  left: 10px;
  &.large {
    bottom: 12px;
  }
  &.default {
    bottom: 11px;
  }
  &.small {
    bottom: 10px;
  }
}

.country_dial_code {
  margin-top: 31.5px;
  margin-left: 50.5px;
  position: absolute;
  color: #9b9b9b;
  &.large {
    font-size: 18px;
  }
  &.default {
    font-size: 16px;
  }
  &.small {
    font-size: 16px;
  }
}

.clear_text {
  position: absolute;
  padding-top: -17px;
  right: 6px;
  &.default {
    top: 50%;
  }
  &.small {
    top: 38%;
  }
  &.large {
    top: 50%;
  }
}

.danger_error {
  position: absolute;
  right: 8px;
  top: 46%;
}

.dropdown_phone {
  display: flex;
  position: absolute;
  width: 6px;
  padding: 11px;
  background: transparent;
  border: none;
  height: 52px;
  padding-left: 40px;
  &:focus-visible {
    outline: none;
  }
  &.large {
    height: 56px;
  }
  &.default {
    height: 51px;
  }
  &.small {
    height: 40px;
  }
}

.hint_tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: -6%;
  left: calc(100% + 20px);
  padding: 16px 15px 15px 16px;
  border-radius: 8px;
  box-shadow: 0 0px 1px 0;
  background: #fff;
}

.arrow-left {
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #fff transparent transparent transparent;
  transform: rotate(314deg);
  position: absolute;
  z-index: 99;
  box-shadow: -1px -1px 2px -1px;
  left: calc(100% + 14.5px);
  margin-top: 12%;
}

.text_tooltip {
  display: flex;
  align-items: baseline;
  margin: 1px 1px 1px 1px;
}
.circle {
  width: 10px;
  height: 10px;
  border: solid 2px gray;
  border-radius: 10px;
  margin-right: 2px;
}

.text_valid {
  text-decoration: line-through;
  color: #439e4a;
  padding-left: 8px;
}

.helper_text {
  display: flex;
  align-items: center;
  &-error {
    color: #fa3f3f;
  }

  .helper_icon {
    margin-left: 4px;
    margin-top: 5.2px;
  }
}

.letter_text {
  display: flex;
  justify-content: space-between;
  .letter_error {
    color: #fa3f3f;
  }
}